
.dashboard-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.dashboard {
    background-color: white;
    height: 100%;
    width: 100%;
    border: #ccc solid 2px;
    border-radius: 10px;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.adminProfile {
    height: 100%;
    width: 25%;
    border-right: #ccc solid 2px;
    flex-direction: column;
}

.forContent {
    flex: 1;
    height: 100%;
    flex-direction: column;
}

.totals-section, .history-section {
    width: 100%;
    gap: 10px;
}

.total-emergency, .total-ongoing, .total-complete, .total-canceled {
    flex: 1;
    border: #ccc solid 2px;
    border-radius: 10px;
    color: var(--font-text);
    gap: 3px;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

:is(.total-emergency, .total-ongoing, .total-complete, .total-canceled) img {
    height: 60px;
}

.total-count {
    font-weight: bold;
    font-size: x-large;
}

.total-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}

.today-request {
    flex: 1;
}

.totals-per-level {
    flex-direction: column;
    flex: 1;
    height: 100%;
    gap: 10px;
}

.totals-lvl1, .totals-lvl2, .totals-lvl3, .totals-lvl4 {
    /* border: #ccc solid 1px; */
    border-radius: 10px;
    width: 100%;
    flex: 1;
    justify-content: space-between;
    box-shadow: inset 0 1.5px 3px 0 #ccc;
}

.totals-lvl4-logo, .totals-lvl3-logo, .totals-lvl2-logo, .totals-lvl1-logo{
    justify-content: center;
    align-items: center;
    width: 55px;
    border-radius: 10px;
    font-size: x-large;
    background-color: #ccc;
    color: white;
    font-weight: bold;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.totals-lvl1-desc, .totals-lvl2-desc, .totals-lvl3-desc, .totals-lvl4-desc {
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* color: var(--font-text); */
    flex: 1;
}

.lvl-desc {
    font-size: medium;
    font-weight: lighter;
    color: var(--font-text);
}

.totals-lvl1-count, .totals-lvl2-count, .totals-lvl3-count, .totals-lvl4-count {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-text);
    font-weight: bold;
}

/* COLORS  */
.totals-lvl1 {
    background-color: var(--light-blue);
}

.totals-lvl2 {
    background-color: var(--light-green);
}

.totals-lvl3 {
    background-color: var(--light-yellow);
}

.totals-lvl4 {
    background-color: var(--light-red);
}

/* LOGO  */

.totals-lvl1-logo {
    background-color: var(--blue);
}

.totals-lvl2-logo {
    background-color: var(--green);
}

.totals-lvl3-logo {
    background-color: var(--yellow);
}

.totals-lvl4-logo {
    background-color: var(--red);
}

/* DESCRIPTION  */
.totals-lvl1-desc{
    color: var(--blue);
} 

.totals-lvl2-desc {
    color: var(--green);
} 

.totals-lvl3-desc {
    color: var(--yellow);
}

.totals-lvl4-desc {
    color: var(--red);
}

.today-requests {
    flex-direction: column;
    height: 100%;
}

.today-request-table {
    display: flex;
    height: 90%;
}

.the-table {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.table-tbody {
    flex: 1;
    overflow: auto;
}


.today-request-title-date {
    font-size: medium;
    color: var(--font-text);
    height: 10%;
}

.tr-table.tr-table-dash {
    height: 60px;
}

.table-num-h {
    color: var(--font-text);
    border-radius: 10px;
    transition: box-shadow .3s ease;
}

.table-num-h:hover {
    cursor: pointer;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.table-time-dash {
    width: 150px;
    color: var(--font-text);
}

.table-ET-dash {
    width: 150px;
    color: var(--font-text);
}

.data-status-dash {
    width: 150px;
}

.table-actions {
    width: fit-content;
}

.go-to-details, .go-to-location {
    /* font-weight: bold; */
    border: none;
    border-radius: 10px;
    background-color: var(--green);
    color: white;
    box-shadow: 0 1.5px 3px 0 #ccc;
    transition: 0.2s background-color;
}

.go-to-details:hover, .go-to-location:hover {
    background-color: var(--hover-green);
}

/* ADMIN PROFILE  */

.set-status-buttons {
    /* border: #ccc solid 1px; */
    border-radius: 10px;
    gap: 10px;
    background-color: whitesmoke;
}


.set-online, .set-away {
    text-align: center;
    border: whitesmoke solid 2px;
    flex: 1;
    border-radius: 10px;
    color: var(--font-text);
    transition: .3s ease;
}

.set-online:hover, .set-away:hover {
    cursor: pointer;
}

.set-online:hover, .set-away:hover{
    background-color: #ccc;
}

.set-online.active {
    border: var(--green) solid 2px;
    background-color: var(--light-green);
    box-shadow: 0 1.5px 3px 0 #ccc;
    color: var(--green);
    cursor: default;
}

.set-away.active {
    border: var(--red) solid 2px;
    background-color: var(--light-red);
    box-shadow: 0 1.5px 3px 0 #ccc;
    color: var(--red);
    cursor: default;
}