
.emergency-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.emer-lists {
    background-color: white;
    height: 100%;
    width: 30%;
    border: #ccc solid 1px;
    border-radius: 10px;
    /* margin: 5px; */
    display: flex;
    flex-direction: column;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.emergency-info {
    background-color: white;
    height: 100%;
    width: 68%;
    border: #ccc solid 1px;
    border-radius: 10px;
    /* margin: 5px;
    margin-left: 15px; */
    box-shadow: 0 1.5px 3px 0 #ccc;
}

/* For Lists */

.filters {
    gap: 10px;
    background-color: whitesmoke;
    /* border: #ccc solid 1px; */
    border-radius: 10px;
}

.new h6, .ongoing h6, .completed h6{
    margin: 0;
    /* font-weight: bold; */

}

.new, .ongoing, .completed {
    text-align: center;
    color: var(--font-text);
    user-select: none;
    border-radius: 10px;
}

.new:hover, 
.ongoing:hover, 
.completed:hover {
    /* color: white; */
    background-color: #ccc;
    cursor: pointer;
    transition: .2s;
}

.new.active, 
.ongoing.active, 
.completed.active {
    color: white;
    background-color: var(--green);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.requests {
    flex-direction: column;
    /* border-radius: 10px; */
    border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    height: 100%;
    overflow: auto;
}

.req-data {
    height: 70px;
    border-radius: 10px;
    border: 1px #ccc solid;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* user-select: none; */
}

.req-data:hover {
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.req-data.active {
    background-color: whitesmoke;
    /* border: 2px #ccc solid; */
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.request-new, .request-ongoing, .request-complete {
    flex-direction: column;
    gap: 10px;
}

.count {
    width: auto;
    border-right: #ccc solid 1px;
    color: var(--font-text);
    padding: 0 1rem;
}

.level-logo {
    justify-content: center;
    align-items: center;
    width: 55px;
    border-radius: 10px;
    font-size: x-large;
    /* background-color: #ccc; */
    color: white;
    font-weight: bold;
}

.level-logo.red {
    background-color: var(--red);
}

.level-logo.green {
    background-color: var(--green);
}

.level-logo.yellow {
    background-color: var(--yellow);
}

.level-logo.blue {
    background-color: var(--blue);
}

.duration {
    width: auto;
    color: var(--font-text);
    padding: 0 1rem;
}

.req-information {
    width: auto;
    padding: 0 .5rem;
    color: var(--font-text);
}

.req-status {
    text-align: center;
    font-size: small;
    color: var(--green);
}

.req-status.complete {
    font-weight: bold;
    color: var(--green);
}

.req-status.ongoing {
    /* font-weight: bold; */
    color: var(--font-text);
}

/* For Information */

.emer-title {
    gap: 50px;
    background-color: whitesmoke;
    color: var(--font-text);
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.emer-title.blue {
    background-color: var(--light-blue);
}

.emer-title.red {
    background-color: var(--light-red);
}

.emer-title.yellow {
    background-color: var(--light-yellow);
}

.emer-title.green {
    background-color: var(--light-green);
}

.alertHighlight {
    text-decoration: underline;
    /* color: var(--yellow); */
}

.alertHighlight.blue {
    color: var(--blue);
}

.alertHighlight.green {
    color: var(--green);
}

.alertHighlight.yellow {
    color: var(--yellow);
}

.alertHighlight.red {
    color: var(--red);
}

/* .forEmer-title {
    /* font-size: large; */
/* } */ 

.forDescriptionLvl {
    gap: 10px;
}

.forAlert p, .forLevel p{
    display: inline-block;
}

.person-info{
    background-color: whitesmoke;
    /* box-shadow: 0 1.5px 3px 0 #ccc; */
    border-radius: 10px;
    color: var(--font-text);
}

.emer-container {
    /* border: #ccc solid 1px; */
    border-radius: 10px;
    height: 90%;
    display: flex;
}

.info-left {
    height: 100%;
}

.info-left {
    width: 50dvw;
}

.info-right {
    box-shadow: 0 1.5px 3px 0 #ccc;
    border: #ccc solid 1px;
    border-radius: 10px;
    width: 50dvw;
    height: auto;
}

.data {
    color: var(--font-text);
    text-align: center;
}

/* info left container */

.highlight {
    color: var(--font-text);
}

.forLabel {
    width: fit-content;
    border-bottom: 2px solid var(--green);
    color: var(--font-text);
}

p {
    white-space: pre-line;
}

.section-1, .section-2, .section-3 {
    border-bottom: #ccc solid 1px;
}

.section-buttons {
    gap: 15px;
}

.date-time {
    color: var(--font-text);
}

.name_gender, .occup_cont, .email_cont, .button_cont {
    color: var(--font-text);
}

.person_gender, .person_contact {
    border-left: #ccc solid 1px;
}

.button_cont {
    border-top: #ccc solid 1px;
}

.forOr {
    justify-content: center;
    align-items: center;
    font-size: large;
    width: 20%;
    text-align: center;
}

.emertype-icon-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emertype-icon {
    /* border: #ccc solid 1px; */
    border-radius: 10px;
    box-shadow: 0 1.5px 3px 0 #ccc;
    justify-content: center;
    align-items: center;
}

.emertype-icon.blue {
    background-color: var(--light-blue);
}

.emertype-icon.red {
    background-color: var(--light-red);
}

.emertype-icon.green {
    background-color: var(--light-green);
}

.emertype-icon.yellow {
    background-color: var(--light-yellow);
}

/* for security icon  */
.security-icon {
    fill: black;
}

.security-icon.blue {
    fill: var(--blue);
}

.security-icon.red {
    fill: var(--red);
}

.security-icon.green {
    fill: var(--green);
}

.security-icon.yellow {
    fill: var(--yellow);
}

/* for accident icon  */

.accident-icon {
    fill: black;
}

.accident-icon.blue {
    fill: var(--blue);
}

.accident-icon.red {
    fill: var(--red);
}

.accident-icon.green {
    fill: var(--green);
}

.accident-icon.yellow {
    fill: var(--yellow);
}

/* for assit icon  */

.assist-icon {
    fill: black;
}

.assist-icon.blue {
    fill: var(--blue);
}

.assist-icon.red {
    fill: var(--red);
}

.assist-icon.green {
    fill: var(--green);
}

.assist-icon.yellow {
    fill: var(--yellow);
}
/* for violence icon  */

.violence-icon {
    fill: black;
}

.violence-icon.blue {
    fill: var(--blue);
}

.violence-icon.red {
    fill: var(--red);
}

.violence-icon.green {
    fill: var(--green);
}

.violence-icon.yellow {
    fill: var(--yellow);
}

/* BUTTONS  */

.accept-btn, .decline-btn, .complete-btn {
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.accept-btn {
    background-color: var(--green);
}

.decline-btn {
    background-color: var(--red);
}

.call-btn, .chat-btn {
    width: 40%;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: var(--nav-top);
}

.complete-btn {
    background-color: var(--green);
}

.ongoing-cont-status {
    width: 100%;
}

.status-title {
    color: var(--font-text);
}

.completed-cont {
    width: 100%;
}

.completed-bar {
    text-align: center;
    border-radius: 10px;
    background-color: var(--light-green);
    color: var(--green);
    font-weight: bold;
    font-size: large;
}

.status-complete {
    color: var(--font-text);
    text-align: center;
}

.close-request-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: inline-end;
    font-size: x-large;
    color: var(--font-text);
}

.close-request-btn:hover {
    cursor: pointer;
    color: #ccc;
    transition: 0.2s;
}


.set-limit {
    color: var(--font-text);
    gap: 10px;
    font-size: medium;
}

.input-limit {
    cursor: default;
    color: var(--font-text);
    border-radius: 10px;
    border: var(--green) solid 2px;
}

.set-limit-title {
    align-items: center;
}

.set-limit-button {
    color: white;
    border-radius: 10px;
    background-color: var(--green);
    border: var(--green) solid 2px;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.set-limit-button[disabled] {
    background-color: #ccc;
    border: #ccc solid 2px;
}