/* :root {
    --green: #00b074;
    --font-text: #5d5a6a;
    --nav-top: #008e5f;
    --yellow: #F7C604;
    --red: #FE5B5B;
    --blue: #2D9CDB;
    
    --light-green: #d9f3ea;
    --light-red: #f9bdbd;
    --light-blue: #D5EBF8;
    --light-yellow: #fff2be;
}  */

.history-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.history-filters {
    height: 100%;
    width: 20%;
    border: #ccc solid 1px;
    border-radius: 10px;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.history-datas {
    height: 100%;
    width: 78%;
    border: #ccc solid 1px;
    border-radius: 10px;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.sortByDate {
    border-bottom: #ccc solid 1px;
}

.description {
    font-size: small;
}

.select-box {
    color: var(--font-text);
    border: var(--green) solid 2px;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out
}

.select-box:focus {
    border: var(--light-green) solid 2px;
    /* background-color: green; */
    outline: var(--green);
}

option {
    color: var(--font-text);
}

.sort-title {
    color: var(--font-text);
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-date {
    width: 80px;
    color: var(--font-text);
}

.highlight.one {
    color: var(--blue);
    font-weight: 600;
}

.highlight.two {
    color: var(--green);
    font-weight: 600;
}

.highlight.three {
    color: var(--yellow);
    font-weight: 600;
}

.highlight.four {
    color: var(--red);
    font-weight: 600;
}

.lvl-title {
    width: 80%;
}

.all-btn:hover {
    /* text-decoration: underline; */
    color: var(--green);
    cursor: pointer;
}

.reset-btn {
    color: var(--font-text);
}

.reset-btn:hover {
    color: var(--green);
    cursor: pointer;
}

.forMonth, .forYear {
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.forLvl {
    height: 65px;
    border-radius: 10px;
    /* box-shadow: 0 1.5px 3px 0 #ccc; */
    /* background-color: rgb(254, 91, 91, .20); */
}

.forLvl:hover {
    box-shadow: 0 1.5px 3px 0 #ccc;
    cursor: pointer;
}

.lvl-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    /* box-shadow: 0 1.5px 3px 0 #ccc; */
    color: white;
}

.lvl-info {
    color: var(--font-text);
    display: flex;
    align-items: center;
}

.forLvl.one  {
    background-color: rgb(45, 156, 219, .20);
}

.lvl-logo.one {
    background-color: var(--blue);
    border: var(--light-blue) solid 3px;
}

.forLvl.two  {
    background-color: rgb(0, 176, 116, .20);
}

.lvl-logo.two {
    background-color: var(--green);
    border: var(--light-green) solid 3px;
}

.forLvl.three  {
    background-color: rgb(247, 198, 4, .20);
}

.lvl-logo.three {
    background-color: var(--yellow);
    border: var(--light-yellow) solid 3px;
}

.forLvl.four  {
    background-color: rgb(254, 91, 91, .20);
}

.lvl-logo.four {
    background-color: var(--red);
    border: var(--light-red) solid 3px;
}


/* FOR EMERGENCY DATAS  */

.datas-title {
    font-size: x-large;
    color: var(--font-text);
    font-weight: bold;
}

.datas-table {
    height: 90%;
    position: relative;
}

table {
    width: 100%;
}

thead {
    display: block;
    background-color: whitesmoke;
    color: var(--font-text);
    border-radius: 10px;
}

th {
    font-weight: bold;
}

th, td {
    text-align: center;
    padding: 5px 0 5px 0;
    /* font-weight: 500; */
    /* border: 1px black solid; */
}

td {
    font-weight: 500;
}

tr {
    width: 100%;
    display: inline-table;
}

.tr-table {
    border-bottom: 1px #ccc solid;
}

.table-num {
    width: 50px;
}

.table-date {
    width: 200px;
}

.table-level {
    width: 70px;
}

.table-ET {
    width: 250px;
}

.table-user {
    width: 150px;
}

.table-time {
    width: 100px;
}

.userID-text {
    max-width: 150px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* padding: 0 5px 0 5px; */
}

.data-status {
    color: var(--green);
}

.td-level {
    /* border: red solid 1px; */
    height: 40px;
}

.td-level-con {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1.5px 3px 0 #ccc;
    color: white;
    font-weight: bold;
}

.td-level-con.blue {
    background-color: var(--light-blue);
    color: var(--blue);
}

.td-level-con.green {
    background-color: var(--light-green);
    color: var(--green);
}

.td-level-con.yellow {
    background-color: var(--light-yellow);
    color: var(--yellow);
}

.td-level-con.red {
    background-color: var(--light-red);
    color: var(--red);
}

/* previous and next button */

.pagination {
    gap: 5px;
    position: absolute;
    bottom: 0;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}

.prev-btn, .next-btn, .num-btn {
    color: var(--green);
    /* font-weight: bold; */
    font-size: large;
    border: none;
    background-color: white;
}

.prev-btn:hover, .next-btn:hover, .num-btn:hover {
    background-color: var(--light-green);
    border-radius: 10px;
}

.prev-btn.disabled {
    background-color: white;
    color: var(--light-green);
}

.next-btn.disabled {
    background-color: white;
    color: var(--light-green);
}

.num-btn.active {
    background-color: var(--light-green);
    border-radius: 10px;
}