

.user-logs-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.user-logs {
    background-color: white;
    height: 100%;
    width: 100%;
    border: #ccc solid 2px;
    border-radius: 10px;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.ul-title {
    font-size: x-large;
    color: var(--font-text);
    font-weight: bold;
}

.user-log-table table td {
    border-bottom: #ccc solid 1px;
}

.user-log-table table tbody tr:hover {
    background-color: whitesmoke;
}

#sign_in {
    color: var(--green);
}

#sign_out {
    color: var(--red);
}