:root {
    --green: #00b074;
    --font-text: #5d5a6a;
    --nav-top: #008e5f;
    --yellow: #F7C604;
    --red: #FE5B5B;
    --blue: #2D9CDB;
    
    --light-green: #d9f3ea;
    --light-red: #f9bdbd;
    --light-blue: #9cdbff;
    --light-yellow: #fff2be;
} 

