:root {
    --light-green: #d9f3ea;
    --green: #00b074;
    --font-text: #5d5a6a;
    --nav-top: #008e5f;
}

.navbar {
    flex-direction: column;
    padding: 0;
}

.system-name {
    font-weight: bold;
}

.nav-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--green) solid 1px;
}

.nav-bottom {
    width: 100%;
    height: 60px;
    /* display: flex; */
    /* background-color: whitesmoke; */
    border-bottom: #ccc solid 1px;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.nav-bottom ul {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    overflow: hidden;
}

.nav-bottom ul li {
    /* border: black 1px solid; */
    height: 100%;
    width: auto;
    float: left;
    padding: 5px;
}

.nav-bottom li a{
    /* font-weight: bold; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    gap: 5px;
    padding: 0px 15px;
    color: var(--font-text);
}

/* .nav-bottom ul li a:is(:link, :active, :visited) {
    color: var(--font-text);
} */

/* .nav-bottom ul li a:is(:link, :active, :visited).active {
    color: var(--green);
    background-color: var(--light-green);
} */

.nav-bottom ul li:hover a,
.nav-bottom ul li.active a {
    background-color: rgb(0, 176, 116, 0.2);
    color: var(--green);
    box-shadow: 0 1.5px 3px 0 #ccc;
}

/* ICONS  */

.dashboard-icon, .emergency-icon, .map-icon {
    fill: var(--font-text);
}

.nav-bottom li:hover .dashboard-icon,
.nav-bottom li:hover .emergency-icon,
.nav-bottom li:hover .map-icon,
.nav-bottom li.active .dashboard-icon,
.nav-bottom li.active .emergency-icon,
.nav-bottom li.active .map-icon {
    fill: var(--green);
}

.messages-icon, .history-icon {
    stroke: var(--font-text);
}

.nav-bottom li:hover .messages-icon,
.nav-bottom li:hover .history-icon,
.nav-bottom li.active .messages-icon,
.nav-bottom li.active .history-icon {
    stroke: var(--green);
}

/* END ICONS  */

.navbar-brand {
    color: var(--font-text);
}

.status-bar {
    color: var(--font-text);
}
