:root {
    --green: #00b074;
    --font-text: #5d5a6a;
    --nav-top: #008e5f;
    --yellow: #F7C604;
    --red: #FE5B5B;
    --blue: #2D9CDB;
    
    --light-green: #CCEFE3;
    --light-red: #FFDEDE;
    --light-blue: #D5EBF8;
    --light-yellow: #FEF4CC;

    --bottom-green: #00895b;
    --bottom-blue: #e8cbcb;
    /* --bottom-yellow: ;
    --bottom-red: ; */
}

.navbar {
    flex-direction: column;
    padding: 0;
}

.system-name {
    font-weight: bold;
}

.dropdown-profile {
    background-color: white;
    color: var(--font-text);
    height: 100%;
    font-weight: bold;
    border: #ccc solid 1px;
    border-radius: 10px;
    box-shadow: 0 1.5px 3px 0 #ccc;

}

.dropdown-profile:hover {
    background-color: whitesmoke;
    color: var(--font-text);
}

.dropdown-profile:active {
    background-color: whitesmoke;
    /* border: 2px solid #008e5f; */
}

.nav-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--green) solid 1px;
}

.nav-bottom {
    width: 100%;
    height: 60px;
    /* display: flex; */
    /* background-color: whitesmoke; */
    border-bottom: #ccc solid 1px;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.nav-bottom ul {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    overflow: hidden;
}

.nav-bottom ul li {
    /* border: black 1px solid; */
    height: 100%;
    width: auto;
    float: left;
    padding: 5px;
    user-select: none;

}

.nav-bottom li a{
    /* font-weight: bold; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    gap: 5px;
    padding: 0px 15px;
    color: var(--font-text);
}

/* .nav-bottom ul li a:is(:link, :active, :visited) {
    color: var(--font-text);
} */

/* .nav-bottom ul li a:is(:link, :active, :visited).active {
    color: var(--green);
    background-color: var(--light-green);
} */

.nav-bottom ul li:hover a,
.nav-bottom ul li.active a {
    background-color: rgb(0, 176, 116, 0.2);
    color: var(--green);
    box-shadow: 0 1.5px 3px 0 #ccc;
}

/* ICONS  */

.dashboard-icon, .emergency-icon, .map-icon {
    fill: var(--font-text);
}

.nav-bottom li:hover .dashboard-icon,
.nav-bottom li:hover .emergency-icon,
.nav-bottom li:hover .map-icon,
.nav-bottom li.active .dashboard-icon,
.nav-bottom li.active .emergency-icon,
.nav-bottom li.active .map-icon {
    fill: var(--green);
}

.messages-icon, .history-icon {
    stroke: var(--font-text);
}

.nav-bottom li:hover .messages-icon,
.nav-bottom li:hover .history-icon,
.nav-bottom li.active .messages-icon,
.nav-bottom li.active .history-icon {
    stroke: var(--green);
}

/* END ICONS  */

.navbar-brand {
    color: var(--font-text);
}

.status-bar {
    color: var(--font-text);
    gap: 10px;
}


/* NOTIF BELL ANIMATION */

.bell-icon {
    border-radius: 100%;
}

/* RED NOTIF */

.notif-animation:hover {
    box-shadow: 0 1.5px 3px 0 #ccc;
    cursor: pointer;
}

.notif-animation.red{
    box-shadow: 0 1.5px 3px 0 #ccc;
    height: auto;
    animation: pulse-red 1.5s infinite;
}

@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0px var(--red);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

/* BLUE NOTIF */
.notif-animation.blue{
    height: auto;
    animation: pulse-blue 1.5s infinite;
}

@keyframes pulse-blue {
    0% {
        box-shadow: 0 0 0 0px rgb(45, 156, 219);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

/* YELLOW NOTIF */
.notif-animation.yellow{
    height: auto;
    animation: pulse-yellow 1.5s infinite;
}

@keyframes pulse-yellow {
    0% {
        box-shadow: 0 0 0 0px var(--yellow);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

/* GREEN NOTIF */
.notif-animation.green{
    height: auto;
    animation: pulse-green 1.5s infinite;
}

@keyframes pulse-green {
    0% {
        box-shadow: 0 0 0 0px var(--green);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}


/* COUNTS  */

.mess-count{
    width: 22px;
    height: 22px;
    background-color: var(--red); 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small; 
    color: #ffffff; 
    font-weight: bold;
}

/* message notif icon  */
.notif-message {
    gap: 5px;
    border-left: #ccc solid 1px;
    /* box-shadow: 0 1.5px 3px 0 #ccc; */
    /* border-radius: 10px; */
}